
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="hero-wrap hero-wrap-2" style="background-image: url('../images/banner3.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate mb-5 text-center">
                <p class="breadcrumbs mb-0"><span class="mr-2"><a href="index.html">Home <i class="fa fa-chevron-right"></i></a></span> <span>Products <i class="fa fa-chevron-right"></i></span></p>
                <h2 class="mb-0 bread">Products</h2>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="row mb-4">
                    <div class="col-md-12 d-flex justify-content-between align-items-center">
                        <h4 class="product-select">Select Category of Products</h4>
                        <select class="selectpicker" multiple>
                            <option>Lipton</option>
                            <option>Spirit</option>
                            <option>Vim</option>
                            <option>Harpic</option>
                            <option>Comfort</option>
                            <option>Zeeba</option>
                        </select>
                    </div>
                </div>

            </div>
        </div>


</section>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.search').click(function () {
            var $productview = $(this).parent().parent().parent().parent().parent().next();
            jQuery($productview).fadeIn('1000');
        });

        $('.close-btn').click(function () {
            var $closebtn = $(this).parent();
            $($closebtn).fadeOut('800');
        });
    });</script>


<div class="container">
    <h3 class="h3">All Product Categories</h3>

    @{Html.RenderAction("Shop");}


</div>
<br>
<br>
<div class="col text-center">
    <div class="block-27">
        <ul>
            <li><a href="#">&lt;</a></li>
            <li class="active"><span>1</span></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&gt;</a></li>
        </ul>
    </div>
</div>

<br>
<br>






<div class="">
    <div class="nbs-flexisel-container">
        <div class="nbs-flexisel-inner">
            <ul id="flexiselDemo1" class="nbs-flexisel-ul">


                <li class="nbs-flexisel-item" style="width: 262px;">
                    <div class="w3l-specilamk">
                        <div class="speioffer-agile">
                            <a href="single.html">
                                <img src="../images/s5.jpg" alt="">
                            </a>
                        </div>
                        <div class="product-name-w3l">
                            <h4>
                                <a href="single.html">Sprite, 2.25L (Pack of 2)</a>
                            </h4>
                            <div class="w3l-pricehkj">
                                <h6>Rs.180.00</h6>
                                \
                            </div>
                            <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                                <a href="cart.html" class="btn btn-primary py-3 px-5 mr-2">Add to Cart</a>										</fieldset>

                            </div>
                        </div>
                    </div>
                </li>
                <li class="nbs-flexisel-item" style="width: 262px;">
                    <div class="w3l-specilamk">
                        <div class="speioffer-agile">
                            <a href="single2.html">
                                <img src="../images/s9.jpg" alt="">
                            </a>
                        </div>
                        <div class="product-name-w3l">
                            <h4>
                                <a href="single2.html">Lakme Eyeconic Kajal, 0.35 g</a>
                            </h4>
                            <div class="w3l-pricehkj">
                                <h6>Rs.153.00</h6>
                            </div>
                            <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                                <a href="cart.html" class="btn btn-primary py-3 px-5 mr-2">Add to Cart</a>

                            </div>
                        </div>
                    </div>
                </li>
                <li class="nbs-flexisel-item" style="width: 262px;">
                    <div class="w3l-specilamk">
                        <div class="speioffer-agile">
                            <a href="single.html">
                                <img src="../images/s5.jpg" alt="">
                            </a>
                        </div>
                        <div class="product-name-w3l">
                            <h4>
                                <a href="single.html">Sprite, 2.25L (Pack of 2)</a>
                            </h4>
                            <div class="w3l-pricehkj">
                                <h6>Rs.180.00</h6>
                                \
                            </div>
                            <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                                <a href="cart.html" class="btn btn-primary py-3 px-5 mr-2">Add to Cart</a>										</fieldset>

                            </div>
                        </div>
                    </div>
                </li>
        </div>
    </div>
</div>