
@{
    ViewBag.Title = "NewOrder";
    Layout = "~/Views/Shared/DeliveryManLayout.cshtml";
}

<div id="page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <h1 class="page-header">New Orders</h1>
            </div>


            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">

                        </div>
                        <div class="container">
                            <table class="table table-hover" id="table">
                                <thead>
                                    <tr>
                                        <th style="width: 500px;">S.No</th>
                                        <th style="width: 500px;">Order ID</th>
                                        <th style="width: 500px;">Shipping Details</th>
                                        <th style="width: 500px; margin: 20px;">Total Bill</th>
                                        <th style="width: 100px;">Acceptance</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>

                                        <td>1</td>
                                        <td>1230</td>
                                        <td>
                                            Name : ANUSHA<br>
                                            21 Mcgee St Address :West Fork, Arkansas(AR), 72774<br>
                                            Phone Number: 03331233459
                                        </td>
                                        <td>Rs.2000</td>
                                        <td><a href="../OrderStatus/OrderStatus"> <button class="button2" style="height: 50%; width: 200px;"> Accept</button></a></td>
                                        <td> <a href="#"><button class="button2" style="height: 50%; width: 200px; display: inline; margin-right: 500px;"> Cancel Request</button></a></td>
                                    </tr>

                                    <tr>

                                        <td>2</td>
                                        <td>1231</td>
                                        <td>
                                            Name : ANUSHA<br>
                                            21 Mcgee St Address :West Fork, Arkansas(AR), 72774<br>
                                            Phone Number: 03331233459
                                        </td>
                                        <td>Rs.2000</td>
                                        <td><a href="../OrderStatus/OrderStatus"> <button class="button2" style="height: 50%; width: 200px;"> Accept</button></a></td>
                                        <td> <a href="#"><button class="button2" style="height: 50%; width: 200px; display: inline; margin-right: 500px;"> Cancel Request</button></a></td>

                                    </tr>


                                </tbody>
                            </table>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

</div>
