@{
    ViewBag.Title = "Home Page";
}

<!-- banner -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="item active" style="background-color: ;">
            <div class="container">
                <div class="carousel-caption">
                    <h3 style="color: white;">
                        Big
                        <span>Save</span>
                    </h3>
                    <p>
                        Get flat
                        <span>10%</span> Cashback
                    </p>
                    <a class="button2" href="../Product/Product">Shop Now </a>
                </div>
            </div>
        </div>
        <div class="item item2">
            <div class="container">
                <div class="carousel-caption">
                    <h3 style="color: white;">
                        Healthy
                        <span>Saving</span>
                    </h3>
                    <p>
                        Get Upto
                        <span>30%</span> Off
                    </p>
                    <a class="button2" href="../Product/Product">Shop Now </a>
                </div>
            </div>
        </div>

        <div class="item item3">
            <div class="container">
                <div class="carousel-caption">
                    <h3 style="color: white;">
                        Big
                        <span>Deal</span>
                    </h3>
                    <p>
                        Get Best Offer Upto
                        <span>20%</span>
                    </p>
                    <a class="button2" href="../Product/Product">Shop Now </a>
                </div>
            </div>
        </div>
        <div class="item item4">
            <div class="container">
                <div class="carousel-caption">
                    <h3 style="color: white;">
                        Today
                        <span>Discount</span>
                    </h3>
                    <p>
                        Get Now
                        <span>40%</span> Discount
                    </p>
                    <a class="button2" href="../Product/Product">Shop Now </a>
                </div>
            </div>
        </div>

        <div class="item item5" style="padding-top: 20px;">
            <div class="container">
                <div class="carousel-caption">
                    <h3 style="color: white;">
                        Today
                        <span>Discount</span>
                    </h3>
                    <p>
                        Get Now
                        <span>40%</span> Discount
                    </p>
                    <a class="button2" href="../Product/Product">Shop Now </a>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="sr-only">Next</span>
    </a>
</div>
<!-- //banner -->

<section class="ftco-intro">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-4 d-flex">
                <div class="intro d-lg-flex w-100 ftco-animate">
                    <div class="icon">
                        <span class="flaticon-support"></span>
                    </div>
                    <div class="text">
                        <h2>Online Support 24/7 For Your Query</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex">
                <div class="intro color-1 d-lg-flex w-100 ftco-animate">
                    <div class="icon">
                        <span class="flaticon-cashback"></span>
                    </div>
                    <div class="text">
                        <h2>Money Back Guarantee</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex">
                <div class="intro color-2 d-lg-flex w-100 ftco-animate">
                    <div class="icon">
                        <span class="flaticon-free-delivery"></span>
                    </div>
                    <div class="text">
                        <h2>Free Shipping &amp; Return</h2>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<br>
<br>
<br>
<!--Top Rated Products-->


<div class="row justify-content-center pb-5">
    <div class="col-md-7 heading-section text-center ftco-animate">
        <span class="subheading" style="text-align: center;">Happy to Announce </span>
        <h2 style="text-align: center;">Our Top Rated Products</h2>
    </div>
</div>

@{Html.RenderAction("TopRatedProduct");}



<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center pb-5">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">Our Delightful offerings</span>
                <h2>Recommended For You</h2>
            </div>
        </div>
        <div class="Recommended-products" id="fyp">
            <div class="row">


                <script>
                    $(document).ready(function () {
                        $('.flaticon-visibility').click(function () {
                            var $productview = $(this).parent().parent().parent().parent().parent().parent().next();
                            $($productview).fadeIn('1000');
                        });

                        $('.close-btn').click(function () {
                            var $closebtn = $(this).parent();
                            $($closebtn).fadeOut('800');
                        })
                    })</script>

                @{Html.RenderAction("Product");}




            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <a href="../Product/Product" class="btn btn-primary d-block">View All Products <span class="fa fa-long-arrow-right"></span></a>
            </div>
        </div>
    </div>
</section>


@{Html.RenderAction("SatisfiedCustomers");}

<br>
<br>
<br>
<!-- newsletter -->
<div class="footer-top">
    <div class="container-fluid">
        <div class="col-xs-8 agile-leftmk">
            <h2>Get your Groceries delivered from local stores</h2>
            <p>Free Delivery on your first order!</p>
            <form action="#" method="post">
                <input type="email" placeholder="E-mail" name="email" required="">
                <input type="submit" value="Subscribe">
            </form>
            <div class="newsform-w3l">
                <span class="fa fa-envelope-o" aria-hidden="true"></span>
            </div>
        </div>
        <div class="col-xs-4 w3l-rightmk">
            <img src="../images/tab3.png" alt=" ">
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //newsletter -->