@{
    ViewBag.Title = "Home Page";
}

<!-- banner -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="item active" style="background-color: ;">
            <div class="container">
                <div class="carousel-caption">
                    <h3 style="color: white;">
                        Big
                        <span>Save</span>
                    </h3>
                    <p>
                        Get flat
                        <span>10%</span> Cashback
                    </p>
                    <a class="button2" href="../Product/Product">Shop Now </a>
                </div>
            </div>
        </div>
        <div class="item item2">
            <div class="container">
                <div class="carousel-caption">
                    <h3 style="color: white;">
                        Healthy
                        <span>Saving</span>
                    </h3>
                    <p>
                        Get Upto
                        <span>30%</span> Off
                    </p>
                    <a class="button2" href="../Product/Product">Shop Now </a>
                </div>
            </div>
        </div>

        <div class="item item3">
            <div class="container">
                <div class="carousel-caption">
                    <h3 style="color: white;">
                        Big
                        <span>Deal</span>
                    </h3>
                    <p>
                        Get Best Offer Upto
                        <span>20%</span>
                    </p>
                    <a class="button2" href="../Product/Product">Shop Now </a>
                </div>
            </div>
        </div>
        <div class="item item4">
            <div class="container">
                <div class="carousel-caption">
                    <h3 style="color: white;">
                        Today
                        <span>Discount</span>
                    </h3>
                    <p>
                        Get Now
                        <span>40%</span> Discount
                    </p>
                    <a class="button2" href="../Product/Product">Shop Now </a>
                </div>
            </div>
        </div>

        <div class="item item5" style="padding-top: 20px;">
            <div class="container">
                <div class="carousel-caption">
                    <h3 style="color: white;">
                        Today
                        <span>Discount</span>
                    </h3>
                    <p>
                        Get Now
                        <span>40%</span> Discount
                    </p>
                    <a class="button2" href="../Product/Product">Shop Now </a>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="sr-only">Next</span>
    </a>
</div>
<!-- //banner -->

<section class="ftco-intro">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-4 d-flex">
                <div class="intro d-lg-flex w-100 ftco-animate">
                    <div class="icon">
                        <span class="flaticon-support"></span>
                    </div>
                    <div class="text">
                        <h2>Online Support 24/7 For Your Query</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex">
                <div class="intro color-1 d-lg-flex w-100 ftco-animate">
                    <div class="icon">
                        <span class="flaticon-cashback"></span>
                    </div>
                    <div class="text">
                        <h2>Money Back Guarantee</h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex">
                <div class="intro color-2 d-lg-flex w-100 ftco-animate">
                    <div class="icon">
                        <span class="flaticon-free-delivery"></span>
                    </div>
                    <div class="text">
                        <h2>Free Shipping &amp; Return</h2>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<br>
<br>
<br>
<!--Top Rated Products-->


<div class="row justify-content-center pb-5">
    <div class="col-md-7 heading-section text-center ftco-animate">
        <span class="subheading" style="text-align: center;">Happy to Announce </span>
        <h2 style="text-align: center;">Our Top Rated Products</h2>
    </div>
</div>
<section class="ftco-section ftco-no-pb">

    <div class="container">

        <div class="row">

            <div class="col-lg-2 col-md-4 ">
                <div class="sort w-100 text-center ">
                    <div class="img" style="background-image: url(../images/details/product-details-1.jpg);"></div>
                    <h3>Vegetables</h3>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 ">
                <div class="sort w-100 text-center ftco-animate">
                    <div class="img" style="background-image: url(../images/details/product-details-2.jpg);"></div>
                    <h3>Capsicum</h3>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 ">
                <div class="sort w-100 text-center ftco-animate">
                    <div class="img" style="background-image: url(../images/details/product-details-3.jpg);"></div>
                    <h3>Spinach</h3>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 ">
                <div class="sort w-100 text-center ftco-animate">
                    <div class="img" style="background-image: url(../images/details/product-details-4.jpg);"></div>
                    <h3>Egg Plant</h3>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 ">
                <div class="sort w-100 text-center ftco-animate">
                    <div class="img" style="background-image: url(../images/details/product-details-5.jpg);"></div>
                    <h3>Tomato</h3>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 ">
                <div class="sort w-100 text-center ftco-animate">
                    <div class="img" style="background-image: url(../images/details/thumb-4.jpg);"></div>
                    <h3>Dry Fruits</h3>
                </div>
            </div>

        </div>
    </div>
</section>


<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center pb-5">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">Our Delightful offerings</span>
                <h2>Recommended For You</h2>
            </div>
        </div>
        <div class="Recommended-products" id="fyp">
            <div class="row">


                <script>$(document).ready(function () {
                            $('.flaticon-visibility').click(function () {
                                var $productview = $(this).parent().parent().parent().parent().parent().parent().next();
                                $($productview).fadeIn('1000');
                            });

                            $('.close-btn').click(function () {
                                var $closebtn = $(this).parent();
                                $($closebtn).fadeOut('800');
                            })
                        })</script>


                <div class="col-md-3 d-flex">
                    <div class="product ftco-animate">
                        <div class="img d-flex align-items-center justify-content-center" style="background-image: url(../images/5.png);">
                            <div class="desc">
                                <p class="meta-prod d-flex">
                                    <a href="../Cart/Cart" class="d-flex align-items-center justify-content-center"><span class="flaticon-shopping-bag"></span></a>
                                    <a href="#" class="d-flex align-items-center justify-content-center"><span class="flaticon-heart"></span></a>
                                    <a class="d-flex align-items-center justify-content-center"><span class="flaticon-visibility"></span></a>
                                </p>
                            </div>
                        </div>
                        <div class="text text-center">
                            <span class="category">Sweet</span>
                            <h2>Grape Fruit</h2>
                            <span class="price">$69.00</span>
                        </div>
                    </div>
                </div>

                <div class="product-view">
                    <div class="close-btn">X</div>
                    <div class="product-big-image">
                        <img src="../images/5.png" style="height: 500px; width: 300px;">
                    </div>

                    <div class="product-big-desc">
                        <br><br>
                        <br><br>
                        <h2>Air Freshner</h2>
                        <h2>product Code: 4356768</h2>
                        <h5>category: Home Freshners</h5>
                        <h6><a href="#">1 review</a> <a href="#">View all review</a></h6>
                        <div class="price">
                            <h4 class="old-price"><del>Rs.3456</del><sup>25% off</sup></h4>
                            <h4 class="new-price">Rs.3000 +<abbr>99 Shipping</abbr></h4>
                        </div>

                        <button class="button2">Click to Buy</button>
                        <br>
                        <p><b>Warrenty: </b> 1 day seller replacement </p>
                        <p><b>Shipping:</b> Dispatched with 2-3 days</p>
                    </div>
                </div>


                <div class="col-md-3 d-flex">
                    <div class="product ftco-animate">
                        <div class="img d-flex align-items-center justify-content-center" style="background-image: url(../images/2.png);">
                            <div class="desc">
                                <p class="meta-prod d-flex">
                                    <a href="../Cart/Cart" class="d-flex align-items-center justify-content-center"><span class="flaticon-shopping-bag"></span></a>
                                    <a href="#" class="d-flex align-items-center justify-content-center"><span class="flaticon-heart"></span></a>
                                    <a class="d-flex align-items-center justify-content-center"><span class="flaticon-visibility"></span></a>
                                </p>
                            </div>
                        </div>
                        <div class="text text-center">
                            <span class="category">Zeeba</span>
                            <h2>Rice</h2>
                            <span class="price">$69.00</span>
                        </div>
                    </div>
                </div>


                <div class="product-view">
                    <div class="close-btn">X</div>
                    <div class="product-big-image">
                        <img src="../images/2.png" style="height: 500px; width: 300px;">
                    </div>

                    <div class="product-big-desc">
                        <br><br>
                        <br><br>
                        <h2>Air Freshner</h2>
                        <h2>product Code: 4356768</h2>
                        <h5>category: Home Freshners</h5>
                        <h6><a href="#">1 review</a> <a href="#">View all review</a></h6>
                        <div class="price">
                            <h4 class="old-price"><del>Rs.3456</del><sup>25% off</sup></h4>
                            <h4 class="new-price">Rs.3000 +<abbr>99 Shipping</abbr></h4>
                        </div>

                        <button class="button2">Click to Buy</button>
                        <br>
                        <p><b>Warrenty: </b> 1 day seller replacement </p>
                        <p><b>Shipping:</b> Dispatched with 2-3 days</p>
                    </div>
                </div>



                <div class="col-md-3 d-flex">
                    <div class="product ftco-animate">
                        <div class="img d-flex align-items-center justify-content-center" style="background-image: url(../images/3.png);">
                            <div class="desc">
                                <p class="meta-prod d-flex">
                                    <a href="../Cart/Cart" class="d-flex align-items-center justify-content-center"><span class="flaticon-shopping-bag"></span></a>
                                    <a href="#" class="d-flex align-items-center justify-content-center"><span class="flaticon-heart"></span></a>
                                    <a class="d-flex align-items-center justify-content-center"><span class="flaticon-visibility"></span></a>
                                </p>
                            </div>
                        </div>
                        <div class="text text-center">
                            <span class="category">Old Monk</span>
                            <h2>Lentils</h2>
                            <span class="price">$69.00</span>
                        </div>
                    </div>
                </div>


                <div class="product-view">
                    <div class="close-btn">X</div>
                    <div class="product-big-image">
                        <img src="../images/3.png" style="height: 500px; width: 300px;">
                    </div>

                    <div class="product-big-desc">
                        <br><br>
                        <br><br>
                        <h2>Air Freshner</h2>
                        <h2>product Code: 4356768</h2>
                        <h5>category: Home Freshners</h5>
                        <h6><a href="#">1 review</a> <a href="#">View all review</a></h6>
                        <div class="price">
                            <h4 class="old-price"><del>Rs.3456</del><sup>25% off</sup></h4>
                            <h4 class="new-price">Rs.3000 +<abbr>99 Shipping</abbr></h4>
                        </div>

                        <button class="button2">Click to Buy</button>
                        <br>
                        <p><b>Warrenty: </b> 1 day seller replacement </p>
                        <p><b>Shipping:</b> Dispatched with 2-3 days</p>
                    </div>
                </div>

                <div class="col-md-3 d-flex">
                    <div class="product ftco-animate">
                        <div class="img d-flex align-items-center justify-content-center" style="background-image: url(../images/8.png);">
                            <div class="desc">
                                <p class="meta-prod d-flex">
                                    <a href="../Cart/Cart" class="d-flex align-items-center justify-content-center"><span class="flaticon-shopping-bag"></span></a>
                                    <a href="#" class="d-flex align-items-center justify-content-center"><span class="flaticon-heart"></span></a>
                                    <a class="d-flex align-items-center justify-content-center"><span class="flaticon-visibility"></span></a>
                                </p>
                            </div>
                        </div>
                        <div class="text text-center">
                            <span class="category">Platter</span>
                            <h2>Spagetti</h2>
                            <span class="price">$69.00</span>
                        </div>
                    </div>
                </div>


                <div class="product-view">
                    <div class="close-btn">X</div>
                    <div class="product-big-image">
                        <img src="../images/8.png" style="height: 500px; width: 300px;">
                    </div>

                    <div class="product-big-desc">
                        <br><br>
                        <br><br>
                        <h2>Air Freshner</h2>
                        <h2>product Code: 4356768</h2>
                        <h5>category: Home Freshners</h5>
                        <h6><a href="#">1 review</a> <a href="#">View all review</a></h6>
                        <div class="price">
                            <h4 class="old-price"><del>Rs.3456</del><sup>25% off</sup></h4>
                            <h4 class="new-price">Rs.3000 +<abbr>99 Shipping</abbr></h4>
                        </div>

                        <button class="button2">Click to Buy</button>
                        <br>
                        <p><b>Warrenty: </b> 1 day seller replacement </p>
                        <p><b>Shipping:</b> Dispatched with 2-3 days</p>
                    </div>
                </div>

            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <a href="../Product/Product" class="btn btn-primary d-block">View All Products <span class="fa fa-long-arrow-right"></span></a>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section testimony-section img" style="background-image: url(../images/banner4.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
                <span class="subheading">Testimonial</span>
                <h2 class="mb-3">Happy Clients</h2>
            </div>
        </div>
        <div class="row ftco-animate">
            <div class="col-md-12">
                <div class="carousel-testimony owl-carousel ftco-owl">
                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
                            <div class="text">
                                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image: url(../images/person_1.jpg)"></div>
                                    <div class="pl-3">
                                        <p class="name">Roger Scott</p>
                                        <span class="position">Marketing Manager</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
                            <div class="text">
                                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image: url(../images/person_2.jpg)"></div>
                                    <div class="pl-3">
                                        <p class="name">Roger Scott</p>
                                        <span class="position">Marketing Manager</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
                            <div class="text">
                                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image: url(../images/person_3.jpg)"></div>
                                    <div class="pl-3">
                                        <p class="name">Roger Scott</p>
                                        <span class="position">Marketing Manager</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
                            <div class="text">
                                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image: url(../images/person_1.jpg)"></div>
                                    <div class="pl-3">
                                        <p class="name">Roger Scott</p>
                                        <span class="position">Marketing Manager</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimony-wrap py-4">
                            <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></div>
                            <div class="text">
                                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                <div class="d-flex align-items-center">
                                    <div class="user-img" style="background-image: url(../images/person_2.jpg)"></div>
                                    <div class="pl-3">
                                        <p class="name">Roger Scott</p>
                                        <span class="position">Marketing Manager</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<br>
<br>
<br>
<!-- newsletter -->
<div class="footer-top">
    <div class="container-fluid">
        <div class="col-xs-8 agile-leftmk">
            <h2>Get your Groceries delivered from local stores</h2>
            <p>Free Delivery on your first order!</p>
            <form action="#" method="post">
                <input type="email" placeholder="E-mail" name="email" required="">
                <input type="submit" value="Subscribe">
            </form>
            <div class="newsform-w3l">
                <span class="fa fa-envelope-o" aria-hidden="true"></span>
            </div>
        </div>
        <div class="col-xs-4 w3l-rightmk">
            <img src="../images/tab3.png" alt=" ">
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //newsletter -->