
@{
    ViewBag.Title = "OrderQueue";
    Layout = "~/Views/Shared/AdminDashboard.cshtml";
}

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Order Details</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Order Status
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <form role="form">

                                    <div class="form-group">
                                        <label>Order ID</label>
                                        <p><input type="text" /></p>



                                        <div class="form-group">
                                            <label>Ordered Products</label>
                                            <br>
                                            <a href="Ordered-products.html"<button class="button2" style="height: 40px; width: 150px; margin: 20px; margin-left: 0px;">View Detail</button></a>

                                        </div>

                                        <div class="form-group">
                                            <label>Customer Info</label>
                                            <br>
                                            <a href="Customer-billing.html"<button class="button2" style="height: 40px; width: 150px; margin: 20px; margin-left: 0px;">View Detail</button></a>
                                        </div>


                                        <div class="form-group">
                                            <label>Delivery Time</label>
                                            <p>Delivery on Thursday , 10/22/2020</p>
                                        </div>

                                        <div class="form-group">
                                            <label>Order Status</label>
                                            <p>Order Confirmed : Yes <br> Order canclled: N/A <br> Order not Confirmed: N/A</p>
                                        </div>

                                        <center>
                                            <button type="submit" class="button2" style="height: 40px; width: 200px;">Disptach</button>

                                        </center>



                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
