
@{
    ViewBag.Title = "ComplaintHistory";
    Layout = "~/Views/Shared/CustomerDashboard.cshtml";
}

<div id="page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <h1 class="page-header">Complaint History & Status</h1>
            </div>


            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            We are here to assist you!
                        </div>
                        <div class="container">
                            <table class="table table-hover" id="table">
                                <thead>
                                    <tr>
                                        <th>Complaint ID</th>
                                        <th>Date</th>
                                        <th>Complaint Description</th>
                                        <th>Status</th>


                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>10/20/2019</td>
                                        <td>I ordered a dozen of bananas and received mangoes</td>
                                        <td>Closed</td>


                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>10/22/2020</td>

                                        <td>I ordered 2 pieces of room freshner and received one only although bill was charged for two</td>
                                        <td>In Progress</td>
                                    </tr>


                                    <tr>
                                        <td>3</td>
                                        <td>10/08/2020</td>

                                        <td>I ordered 2 pieces of room freshner and received one only although bill was charged for two</td>
                                        <td>Resolved</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

</div>

