@model GroceryStore.Controllers.Dto.UserDto

@{
    ViewBag.Title = "OrderTrack";
    Layout = "~/Views/Shared/CustomerDashboard.cshtml";
}


<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Track Your Order</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Grocery Store Tracking Form
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <form role="form" action="../CustomerOrderTrack/GetCustomerOrderDetails" id="OrderSearchform" method="post">
                                    <div class="form-group">
                                        <label>Enter Order Id</label>
                                        <input type="number" class="form-control" name="SearchQuery"></input>
                                    </div>
                                </form>

                                <button type="submit" form="OrderSearchform" value="Submit">Search</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

