
@{
    ViewBag.Title = "forgotPassword";
}

<h2>forgotPassword</h2>

@using (Html.BeginForm())

{
  

    <div class="form-horizontal">
        <hr />
        <div class="text-success">
            @ViewBag.message
        </div>

        <div class="form-group">
            <label class="col-md-2"> Email ID </label>
            @Html.TextBox("EmailID", "", new { @class = "form-control" })
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">

                <input type="submit" value="Submit" class="button2" />
            </div>
        </div>

    </div>
}

