
@{
    ViewBag.Title = "Delivered";
    Layout = "~/Views/Shared/DeliveryManLayout.cshtml";
}

<div id="page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <h1 class="page-header">Number of Orders Delivered</h1>
            </div>


            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">

                        </div>
                        <div class="container">
                            <table class="table table-hover" id="table">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Order ID</th>
                                        <th>Shipping Details</th>
                                        <th style="width: 500px; margin: 20px;">Total Bill</th>
                                        <th style="width: 250px;">Status</th>


                                    </tr>
                                </thead>
                                <tbody>


                                    <tr>

                                        <td>2</td>
                                        <td>1231</td>
                                        <td>
                                            Name : ANUSHA<br>
                                            21 Mcgee St Address :West Fork, Arkansas(AR), 72774<br>
                                            Phone Number: 03331233459
                                        </td>
                                        <td>Rs.2000</td>
                                        <td>Delivered</td>
                                        <td>10/22/2020 , 8:00 PM</td>


                                    </tr>


                                </tbody>
                            </table>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

</div>


