4
@{
    ViewBag.Title = "DeliveryMan";
    Layout = "~/Views/Shared/AdminDashboard.cshtml";
}

<div id="page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <h1 class="page-header">Delivery Boy</h1>
            </div>

            <div class="col-lg-12">



                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Rider Info
                        </div>
                        <div class="container">
                            <table class="table table-hover" id="table">
                                <thead>
                                    <tr>
                                        <th>Rider Name</th>
                                        <th>Rider Number</th>
                                        <th>CNIC/th>
                                        <th>Area Wise Rider</th>
                                        <th>Book Now</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Ghafoor</td>
                                        <td>0313-1231212</td>
                                        <td>42210-12312312</td>
                                        <td>Garden , Korangi , Clifton , DHA</td>
                                        <td><a href="#">BOOK NOW</a></td>
                                    </tr>
                                    <tr>

                                        <td>Daniyal</td>
                                        <td>0313-1231212</td>
                                        <td>42210-12312312</td>
                                        <td>Landhi , Lyari , Fb Area, Gulshan</td>
                                        <td><a href="#">BOOK NOW</a></td>


                                    </tr>
                                    <tr>

                                        <td>Yaseen</td>
                                        <td>0313-1231212</td>
                                        <td>42210-12312312</td>
                                        <td>Malir , P.E.C.HS , Bahria Town,Johar</td>
                                        <td><a href="#"> BOOK NOW</a></td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

</div>

