
@{
    ViewBag.Title = "CustomerComplaint";
    Layout = "~/Views/Shared/CustomerDashboard.cshtml";
}

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Customer Complaints</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Register a Complaint
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <form role="form">
                                    <div class="form-group">

                                        <label>Complaint Type</label>
                                        <select class="form-control" name="cars" id="cars">
                                            <option value="volvo">Staff</option>
                                            <option value="saab">Portal</option>
                                            <option value="mercedes">Return/ Exchange</option>
                                            <option value="audi">Order Recieving</option>
                                        </select>
                                        <br />

                                        <label>Enter Complaint</label>
                                        <textarea class="form-control"></textarea>
                                    </div>

                                    <button type="submit" class="button2">Register a Complaint</button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>