
@{
    ViewBag.Title = "CustomerProfile";
    Layout = "~/Views/Shared/CustomerDashboard.cshtml";
}
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">My Profile</h1>


                <div class="container">
                    <div class="profile-header">
                        <div class="profile-img">
                            <img src="../images/3.jpg" width="200px">
                        </div>
                        <div class="profile-nav-info">
                            <h3 class="user-name">
                                Jon Watson
                            </h3>
                            <div class="address">
                                <p class="state">
                                    Karachi,
                                </p>
                                <span class="country">Pakistan,</span>
                            </div>
                        </div>

                    </div>
                    <div class="main-bd">
                        <div class="left-side">
                            <div class="profile-side">
                                <p class="mobile-no">
                                    <i class="fa fa-phone" aria-hidden="true"></i>+92352323444
                                </p>
                                <p class="user-mail">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>JonWatson@gmail.com
                                </p>
                                <div class="user-bio" style="color: white;">
                                    <h3>Bio</h3>
                                    <p class="bio">
                                        Nostra cubilia pretium mus lobortis, enim eros bibendum. Magna,
                                        fames egestas lorem placerat a dui habitant vulputate gravida enim.
                                        Elementum pellentesque eu. Dui sollicitudin.
                                        Cum augue aliquet primis aptent litora volutpat velit, faucibus lorem nulla ultricies ac sem.
                                        Luctus. Tincidunt ad nonummy consequat nec. Platea ridiculus lorem elementum mi volutpat.
                                    </p>
                                </div>
                                <div class="profile-btn">
                                    <button class="chatbtn">
                                        <i class="fa fa-comment" aria-hidden="true"></i>Edit
                                    </button>
                                    <button class="createbtn">
                                        <i class="fa fa-plus" aria-hidden="true"></i>Reset
                                    </button>
                                </div>
                                <div class="user-rating">
                                    <h3 class="rating">
                                        4.5
                                    </h3>
                                    <div class="rate">
                                        <div class="stars">
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                        <span class="no-user">
                                            <span>
                                                123
                                            </span>
                                            &nbsp; &nbsp; reviews
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="right-side">
                            <div class="side-nav">
                                <ul>

                                    <li onclick="tabs(0)"
                                        class="user-review ">
                                        Reviews
                                    </li>
                                    <li onclick="tabs(1)"
                                        class="user-setting">
                                        Account Setting
                                    </li>
                                </ul>
                            </div>
                            <div class="profile-body">

                                <div class="side-tab">
                                    <div class="profile-reviews-tab">
                                        <h1>User Reviews</h1>
                                        <p>
                                            Nostra cubilia pretium mus lobortis, enim eros bibendum. Magna, fames egestas lorem placerat a dui .
                                        </p>
                                    </div>
                                </div>
                                <div class="side-tab">
                                    <div class="profile-settings-tab">
                                        <a href="../PasswordReset/PasswordReset"><h1>Reset Your Password</h1></a>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <!-- cxvfdgtrhyx -->
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>