<!DOCTYPE html>
<html lang="en">
<head>
    <title>Grocery Shop</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,user-scalable=0, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <!-- Animations-->
    <link rel="stylesheet" href="~/css/animate.css">

    <!-- Client Carousel-->
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">


    <!-- Icons -->
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" media="all" />

    <style>

        .toast {
            @*display: flex;
  justify-content: start;*@
            height: fit-content;
            background: #f7f7f7;
            border-radius: 10px;
            box-shadow: 1px 7px 14px -5px rgba(0,0,0,0.2);
            overflow: hidden;
            animation: slide-in .5s ease-out forwards;
            position: fixed;
            bottom: 10px;
            left: 10px;
            z-index: 10000;
        }
        .toast-content {
            display: flex;
            /* align-items: center; */
            /* justify-content: start; */
            height: 90px;
            width: 270px;
            background-color: #ff5252;
        }
/*
.toast-content::before {
  align-self: center;
  content: '';
  width: 5px;
  height: 80px;
  position: absolute;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #a2de96;
} */
.before {
  width: 5px;
  height: 80px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: #a2de96;
}


.toast .icon {
/*   transform: translate(30px,0); */
  margin-left: 30px;
  width: 35px;
  height: 35px;
  background: #79d70f;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white
}

        .text {
            width: 100%;
            align-self: flex-start;
            flex-wrap: wrap;
            display: flex;
            align-items: start;
            overflow: hidden;
            color: white;
            margin-left: 30px;
            font-family: Tahoma,Arial,"Hiragino Sans GB","simsun",sans-serif;
        }

.text > * {
  margin: 0;
  width: 400px;
}

.toast p:first-child {
  font-weight: bold;
  margin-top: 15px;
}

        .message {
            margin-top: 4px;
            font-size: 1.5em;
            color: white;
        }

.close {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  user-select: none;
  transform: translate(10px,-5px);
  font-size: 2.5em;
/*   transform: scaleX(1.2); */
  color: #dddddd;
  cursor:pointer;
}

/* .close:before {
  content: '';
  align-self: stretch;
  transform: translate(-10px,-10px);
  height: 90px;
  width:.5px;
  position: absolute;
  background: #aaaaaa;
  filter: drop-shadow(1px 0px 1px #878787);
  cursor: default;
} */

@@keyframes toast {
  0% {
    opacity: 1;
  }
  100% {
    transform: translate(0,-10px);
    opacity: 0;
  }
}

.toast-area {
  z-index:2;
  height: 80vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

}

.toast-area > * {
  margin-top: 1em;
}

.toast button {
  background: #f7f7f7;
  width: 150px;
  height: 30px;
  border: none;
  border-radius: 5px;
  outline: none;
  box-shadow: 1px 7px 14px -5px rgba(0,0,0,0.2);
  transition: all .2s ease;
}

@@keyframes slide-in {
  0% {
    transform: translate(0,-10px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.toast button:hover {
  background: #ffd36b;
}
    </style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>


</head>
<body>



    <div class="wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-6 d-flex align-items-center">
                    <p class="mb-0 phone pl-md-2">
                        <a href="#" class="mr-2"><span class="fa fa-phone mr-1"></span>+92-344-3456789</a>
                        <a href="#"><span class="fa fa-paper-plane mr-1"></span> sanaamemon567@gmail.com</a>
                    </p>
                </div>
                <div class="col-md-6 d-flex justify-content-md-end">
                    <div class="social-media mr-4">
                        <p class="mb-0 d-flex">
                            <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
                            <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
                            <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
                            <a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
                        </p>
                    </div>
                    <div class="reg">
                        <p class="mb-0">

                            @if (Session["userId"] == null)
                            {
                <a href="../Signup/Signup" class="mr-2">Sign Up</a> <span style="color: white;">|</span>
                                <a href="../Auth/Auth">Log In</a> }
                            else if (Session["RoleName"].ToString() == "Admin")
                            {
                <a href="../AdminDashboard/AdminDashboard">Dashboard</a> <span style="color: white;">|</span> }
            else if (Session["RoleName"].ToString() == "Customer")
            {
<a href="../CustomerDashboard/CustomerDashboard">Dashboard</a> <span style="color: white;">|</span>}

                            @if (Session["userId"] != null)
                            {
                <a style="margin-left: 5px;" href="../Auth/Auth">Log Out</a>}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="../Home/Index">Grocery <span>store</span></a>
            <div class="order-lg-last btn-group">
                <a style="width: 60px;" href="#" class="btn-cart dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="flaticon-shopping-bag"></span>
                    <div style="display: inline-block !important; margin: 0px 3px;" class="d-flex justify-content-center align-items-center"><small>3</small></div>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-item d-flex align-items-start" href="#">
                        <div class="img" style="background-image: url(~/images/prod-1.jpg);"></div>
                        <div class="text pl-3">
                            <h4>Bacardi 151</h4>
                            <p class="mb-0"><a href="#" class="price">$25.99</a><span class="quantity ml-3">Quantity: 01</span></p>
                        </div>
                    </div>
                    <div class="dropdown-item d-flex align-items-start" href="#">
                        <div class="img" style="background-image: url(~/images/prod-2.jpg);"></div>
                        <div class="text pl-3">
                            <h4>Jim Beam Kentucky Straight</h4>
                            <p class="mb-0"><a href="#" class="price">$30.89</a><span class="quantity ml-3">Quantity: 02</span></p>
                        </div>
                    </div>
                    <div class="dropdown-item d-flex align-items-start" href="#">
                        <div class="img" style="background-image: url(~/images/prod-3.jpg);"></div>
                        <div class="text pl-3">
                            <h4>Citadelle</h4>
                            <p class="mb-0"><a href="#" class="price">$22.50</a><span class="quantity ml-3">Quantity: 01</span></p>
                        </div>
                    </div>
                    <a class="dropdown-item text-center btn-link d-block w-100" href="../Cart/Cart">
                        View All
                        <span class="ion-ios-arrow-round-forward"></span>
                    </a>
                </div>
            </div>



            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item "><a href="../Home/Index" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="../About/About" class="nav-link">About</a></li>
                    <li class="nav-item dropdown">


                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Products
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="../Product/Product">Products</a>
                            <a class="dropdown-item" href="../Cart/Cart">Cart</a>
                        </div>
                    </li>
                    <li class="nav-item active"><a href="../Contact/Contact" class="nav-link">Contact</a></li>


                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->

    @RenderBody();

    <br><br><br>
    <footer class="ftco-footer">
        <div class="container">
            <div class="row mb-5">
                <div class="col-sm-12 col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2 logo"><a href="#">Grocery <span>Store</span></a></h2>
                        <p>Far far away, behind the word mountains, far from the countries.</p>
                        <ul class="ftco-footer-social list-unstyled mt-2">
                            <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="fa fa-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="fa fa-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-4">
                        <h2 class="ftco-heading-2">My Accounts</h2>
                        <ul class="list-unstyled">
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>My Account</a></li>
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Register</a></li>
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Log In</a></li>
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>My Order</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-md">
                    <div class="ftco-footer-widget mb-4 ml-md-4">
                        <h2 class="ftco-heading-2">Information</h2>
                        <ul class="list-unstyled">
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>About us</a></li>
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Catalog</a></li>
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Contact us</a></li>
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Term &amp; Conditions</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Quick Link</h2>
                        <ul class="list-unstyled">
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>New User</a></li>
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Help Center</a></li>
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Report Spam</a></li>
                            <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Faq's</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Have a Questions?</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon fa fa-map marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
                                <li><a href="#"><span class="icon fa fa-phone"></span><span class="text">+2 392 3929 210</span></a></li>
                                <li><a href="#"><span class="icon fa fa-paper-plane pr-4"></span><span class="text">info@yourdomain.com</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Copy Right-->
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                </div>
            </div>
        </div>

        <div class="container-fluid px-0 py-5 bg-black">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <p class="mb-0" style="color: rgba(255,255,255,.5);">
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved |
                    </div>
                </div>
            </div>
        </div>

    </footer>

    @*This is toaster*@
    <div class="" id="toasts" style="width: fit-content;">
        <div style="display: none">
            <div class="toast" id="clonemother">
                <div class="toast-content">
                    @*<div class="icon">✔</div>*@
                    <div class="text"><p style="font-size: 2em;">Erorr</p><p class="message">Product Out Of Stock</p></div>
                    @*<div onclick="deletethis()" class="close">×</div>*@
                </div>
            </div>
        </div>
        @*<div class="toast" id="clonemother">
                <div class="toast-content">

                    <div class="text"><p style="font-size: 2em;">Erorr</p><p class="message">Product Out Of Stock</p></div>
                </div>
            </div>*@
    </div>




    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>


    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/jquery.animateNumber.min.js"></script>
    <script src="~/js/scrollax.min.js"></script>
    <script src="~/js/main.js"></script>

    <!-- js-files -->
    <!-- jquery -->
    <script src="~/js/jquery-2.1.4.min.js"></script>

    <!-- smoothscroll -->
    <script src="~/js/SmoothScroll.min.js"></script>
    <!-- //smoothscroll -->
    <!-- start-smooth-scrolling -->
    <script src="~/js/move-top.js"></script>
    <script src="~/js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 10);
            });
        });
    </script>

    <script>

        function generateToast() {
            var child = document.getElementById('clonemother');
            var clone = child.cloneNode(true);
            // console.log(clone);
            // document.querySelector('.toast-area').appendChild(child.firstChild);
            var node = document.getElementById("toasts").appendChild(clone);
            console.log(node.childNodes);
            setTimeout(function () {
                if (node) {
                    node.childNodes[1].childNodes[5].childNodes[1].innerHTML = "Product out of stock"
                }
            }, 1000);
            setTimeout(function () {
                if (node) {
                    node.style.animation = "toast .5s ease-out forwards";
                    setTimeout(() => { node.remove(); }, 500);
                }
            }, 2000);
        }

        @*document.querySelector('.button').addEventListener('click', function () {

        })*@

        // document.querySelectorAll('.close').forEach(function(t) {t.addEventListener('click',function(e) {
        //   var grand = e.target.parentNode.parentNode;
        //   grand.style.animation = "toast .5s ease-out forwards";
        //   setTimeout(() => {grand.remove();} ,500);
        // })})

        function deletethis() {
            var e = window.event;
            var grand = e.target.parentNode.parentNode;
            grand.style.animation = "toast .5s ease-out forwards";
            setTimeout(() => { grand.remove(); }, 500);
        }
    </script>


    <!-- for bootstrap working -->
    <script src="~/js/bootstrap.js"></script>
    <!-- //for bootstrap working -->
    <!-- //js-files -->

    <script>
        function getAdminNotifications() {
            $.get(window.location.origin + '/AdminDashboard/GetNotifications', (data) => {
                console.log(data);
            });
        }
    </script>



</body>
</html>