@model GroceryStore.Controllers.Dto.UserDto
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin Dashboard</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/CustomerAssets/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="~/CustomerAssets/css/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="~/CustomerAssets/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/CustomerAssets/css/startmin.css" rel="stylesheet">


    <!-- Custom Fonts -->
    <link href="~/CustomerAssets/css/font-awesome.min.css" rel="stylesheet" type="text/css">


    <div id="wrapper">



        <!-- Navigation -->
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="../AdminDashboard/AdminDashboard"><i class="fa fa-home fa-fw"></i>Grocery Store</a>
            </div>

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <ul class="nav navbar-nav navbar-left navbar-top-links">
                <!--<li><a href="../../index.html"><i class="fa fa-home fa-fw"></i> Website</a></li>-->
            </ul>




            <ul class="nav navbar-right navbar-top-links">
                <li class="dropdown navbar-inverse">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i> <b class="caret"></b>
                    </a>
                    <span style="position: absolute; top: 2px; left: 22px; background-color:#ffb380; width: 20px; height: 20px; border-radius: 50%; text-align: center; font-size: 12px; color: white; line-height: 20px;" id="icon-number"></span>
                    <ul id="notify-data" class="dropdown-menu dropdown-alerts">
                        @*<li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Reviews
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>*@

                        @*<li>
                            <a href="#">
                                <div>
                                    Admin please do something there is a problem product out of stock
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>*@

                    </ul>
                </li>






                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        @if (Model.User != null)
                        {
                            <i class="fa fa-user fa-fw"></i> @Model.User.UserName <b class="caret"></b>
                        }
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="../Auth/Auth"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->

                        </li>

                        <li>
                            <a href="../AdminDashboard/AdminDashboard" class="active"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>


                        <li>
                            <a href="../allproducts/index"><i class="fa fa-edit fa-fw"></i> Products</a>
                        </li>

                        <li>
                            <a href="../Categories/Index"><i class="fa fa-edit fa-fw"></i> Categories</a>

                        </li>

                        <li>
                            <a href="../AdminCustomer_Complaints/Index"><i class="fa fa-user-o"></i> Customer Complaints</a>
                        </li>


                        <li>

                            <a href="../ViewOrderQueue/ViewOrderQueue" class="dropdown-btn"><i class="fa fa-cart-plus"></i> Order Queue</a>

                        </li>
                        <li>

                            <a href="../PastOrder/PastOrder" class="dropdown-btn"><i class="fa fa-cart-plus"></i> Order Delivered</a>

                        </li>

                        <li>
                            <a href="../OrderTrack/OrderTrack"><i class="fa fa-cart-plus"></i> Order Tracking</a>
                        </li>


                        <li>
                            <a href="EndedStock/Index"><i class="fa fa-user-o"></i> Ended  Stock</a>

                        </li>

                        <li>
                            <a href="../Cashier_Counter/Index"><i class="fa fa-user-o"></i> Cashier</a>

                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        @RenderBody()

    </div>
    <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="~/CustomerAssets/js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/CustomerAssets/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/CustomerAssets/js/metisMenu.min.js"></script>



    <!-- Custom Theme JavaScript -->
    <script src="~/CustomerAssets/js/startmin.js"></script>

    </body>
</html>