
@{
    ViewBag.Title = "Thanyou";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="hero-wrap hero-wrap-2" style="background-image: url('../images/banner3.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate mb-5 text-center">
                <p class="breadcrumbs mb-0"><span class="mr-2"><a href="../Home/Index"> <i class="fa fa-chevron-right"></i></a></span> <span><i class="fa fa-chevron-right"></i></span></p>
                <h2 class="mb-0 bread">Thank you for Choosing Us</h2>
            </div>
        </div>
    </div>
</section>
<center>
    <a href="../Product/Product"><button class="button2" style="margin: 35px;">Continue Shopping</button>
</center></a>

