
@{
    ViewBag.Title = "OrderHistory";
    Layout = "~/Views/Shared/CustomerDashboard.cshtml";
}

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">My Order</h1>


                <h1 class="Order-history">Order Summary</h1>
                <center>
                    <table class="content-table">
                        <thead>

                            <tr>
                                <th>Date</th>
                                <th>Order Id</th>
                                <th>Product Name</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Shipping Charges</th>
                                <th>Total</th>
                                <th>Billing Address</th>
                            </tr>
                        </thead>
                        <tbody>


                            <tr class="active-row">
                                <td> 2020-10-01</td>
                                <td>1</td>
                                <td>Dairy Milk</td>
                                <td>2</td>
                                <td>Rs.88</td>
                                <td>Rs.200</td>
                                <td>Rs.376</td>
                                <td>
                                    Anusha <br> 159 Honey Creek Court
                                    Delray Beach, FL 33445 <br>0333-3124666
                                </td>
                            </tr>
                            <tr class="active-row">
                                <td> 2020-10-11</td>
                                <td>2</td>
                                <td>Harpic Cleaner</td>
                                <td>1</td>
                                <td>Rs.72</td>
                                <td>Rs.200</td>
                                <td>Rs.272</td>
                                <td>
                                    Anusha <br> 159 Honey Creek Court
                                    Delray Beach, FL 33445 <br>0333-3124666
                                </td>
                            </tr>

                            <tr class="active-row">
                                <td> 2020-10-13</td>
                                <td>3</td>
                                <td>Surf Excel</td>
                                <td>3</td>
                                <td>Rs.52</td>
                                <td>Rs.200</td>
                                <td>Rs.356</td>
                                <td>
                                    Sana <br> 690 Augusta Dr.
                                    Brockton, MA 02301 <br>0333-3124656
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </center>

            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <!-- cxvfdgtrhyx -->
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->