
@{
    ViewBag.Title = "PastOrder";
    Layout = "~/Views/Shared/AdminDashboard.cshtml";
}
<div id="page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <h1 class="page-header">Past Orders</h1>
            </div>

            <div class="col-lg-12">



                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            View All products
                        </div>
                        <div class="container">
                            <table class="table table-hover" id="table">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Order Number</th>
                                        <th>Customer Name</th>
                                        <th>Description</th>


                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Prd001</td>
                                        <td>Jawad</td>

                                        <td><a href="../PastOrderDetails/PastOrderDetails">View Detail</a></td>

                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Prd002</td>
                                        <td>Ghafoor</td>
                                        <td><a href="../PastOrderDetails/PastOrderDetails">View Detail</a></td>



                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Prd003</td>
                                        <td>Daniyal</td>
                                        <td><a href="../PastOrderDetails/PastOrderDetails">View Detail</a></td>

                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Prd004</td>
                                        <td>Yaseen</td>
                                        <td><a href="../PastOrderDetails/PastOrderDetails">View Detail</a></td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>Zeeba Rice</td>
                                        <td>Yaseen</td>
                                        <td><a href="../PastOrderDetails/PastOrderDetails">View Detail</a></td>


                                    </tr>

                                    <tr>
                                        <td>1</td>
                                        <td>Prd001</td>
                                        <td>Jawad</td>

                                        <td><a href="../PastOrderDetails/PastOrderDetails">View Detail</a></td>

                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Prd002</td>
                                        <td>Ghafoor</td>
                                        <td><a href="../PastOrderDetails/PastOrderDetails">View Detail</a></td>



                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Prd003</td>
                                        <td>Daniyal</td>
                                        <td><a href="../PastOrderDetails/PastOrderDetails">View Detail</a></td>

                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Prd004</td>
                                        <td>Yaseen</td>
                                        <td><a href="../PastOrderDetails/PastOrderDetails">View Detail</a></td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>Zeeba Rice</td>
                                        <td>Yaseen</td>
                                        <td><a href="../PastOrderDetails/PastOrderDetails">View Detail</a></td>


                                    </tr>

                                    <tr>
                                        <td>11</td>
                                        <td>Prd003</td>
                                        <td>James</td>
                                        <td><a href="../PastOrderDetails/PastOrderDetails">View Detail</a></td>


                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

</div>