
@{
    ViewBag.Title = "StockDetail";
    Layout = "~/Views/Shared/AdminDashboard.cshtml";
}
<div id="page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <h1 class="page-header">Units and SKUs'</h1>
            </div>

            <div class="col-lg-12">

            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Details Of Available Stock
                        </div>
                        <div class="container">
                            <table class="table table-hover" id="table">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Product ID</th>
                                        <th>Unit Price</th>
                                        <th>SKU</th>
                                        <th>Available Stock</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Prd001</td>
                                        <td>50</td>
                                        <td>Cartons</td>
                                        <td>10 pieces</td>


                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Prd002</td>
                                        <td>60</td>
                                        <td>Cartons</td>
                                        <td>50 pieces</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Prd003</td>
                                        <td>50</td>
                                        <td>Cartons</td>
                                        <td>40 Pouches</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Prd004</td>
                                        <td>50</td>
                                        <td>Cartons</td>
                                        <td>12 pieces</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>Prd005</td>
                                        <td>50</td>
                                        <td>kgs</td>
                                        <td>15kgs</td>

                                    </tr>

                                    <tr>
                                        <td>6</td>
                                        <td>Prd006</td>

                                        <td>50</td>
                                        <td>kgs</td>
                                        <td>3kgs</td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>Prd007</td>
                                        <td>50</td>
                                        <td>Cartons</td>
                                        <td>10 Cartons</td>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td>Prd008</td>
                                        <td>50</td>
                                        <td>kgs</td>
                                        <td>4 kgs</td>
                                    </tr>
                                    <tr>
                                        <td>9</td>
                                        <td>Prd009</td>

                                        <td>50</td>
                                        <td>kgs</td>
                                        <td>250 kgs</td>
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td>Prd010</td>

                                        <td>50</td>
                                        <td>pieces</td>
                                        <td>4 pieces</td>
                                    </tr>

                                    <tr>
                                        <td>11</td>
                                        <td>Prd011</td>

                                        <td>50</td>
                                        <td>kgs</td>
                                        <td>4 kgs</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->

</div>