@model IEnumerable<GroceryStore.Models.ViewModel.ProductViewModel>
    @{
    ViewBag.Title = "Comments";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }
                      <center>
                          <h2>Comments</h2>
                          @Model.product_id
                          @Model.product_name
                          @Model.FullDescription
                          @foreach(var item in Model)
                          {


                          @Html.ActionLink("Add/View Comment","ShowComment", new { product_id = item.product_id})

                      </center>